/*font-family*/
p {
  font-family: Roboto;
}

h1 {
  font-family: Open Sans Condensed;
}

/*font-size*/
body {
  font-size: 10px;
}

h1 {
  font-size: 5em;
}

p {
  font-size: 2em;
}

span {
  font-size: 2em;
}

/*font-weight*/
p {
  font-weight: bold;
}

/*font-height*/
p {
  line-height: 1.5;
}

/*text-align*/
h1 {
  text-align: right;
}

p {
  text-align: center;
}

/*text-decorarion*/
p {
  text-decoration: line-through;
}
